*{
    margin:0;
    padding:0;
    text-align:center;

}

body{
    
    text-align:center;
    
}
h2{
    padding-top:2px;
    background-color:#233030;
    color:aliceblue;
    height: 5rem;
    display:flex;
    justify-content: center;
    align-items: center;

}
.options{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:3rem;
    margin-top:5rem;
    
}
.choice{
    height:165px;
    width:165px;
    border-radius: 50%;
    opacity:0.8;
}
img{
    height: 150px;
    width:150px;
    object-fit:cover;
    border-radius:50%;
}
#msg-container{
    margin-left: 36rem;
    margin-top:5rem;
    height: 8rem;
    width:10rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#msg{
    background-color: #233030;
   
    font-size:1rem;
    padding:1rem;
    border-radius:1rem;
    color:rgb(249, 252, 255);
    display:inline;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.choice:hover{
   opacity:1;
    cursor:pointer;
    background-color:#233030;
    
}
.score-board{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:4rem;
    font-size:2rem;
    margin-top:3rem;
}
#userScore,#compScore{
    font-size:4rem;
}
#reset{
    display:none;
    height: 2rem;
    width:5rem;
    border:none;
    border-radius: 1rem;
    color:aliceblue;
    background-color: #233030;

}